VITE_SUPABASE_URL='supabase url here'
VITE_SUPABASE_ANON_KEY= supabase key here
VITE_API_URL=http://localhost:8000/api/v1 # example for local host this might change during deploying (based on vercel or render)