SUPABASE_URL="https://teeglenggysrbaajeowj.supabase.co"
SUPABASE_KEY="sb_publishable_N729XmG1z1kzane39FJ_tA_wc6sFXzL"
SUPABASE_JWT_SECRET="2cqD4WrBRcAu+eYabh+TuX0DiVqenI0XyU2BXD475iFaW36eqh+mgO3doxWMgbABcwWANLfawW0X0h1IjwEcNg=="